body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.grid-item {
  border: 5px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.grid-item img {
  display: block;
  width: 100%;
  transition: transform 0.3s;
}

.grid-item img:hover {
  transform: scale(1.05);
}

.large {
  grid-column: span 2;
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
